In [3]:
import numpy as np
import pandas as pd

In [4]:
memops = {'scal':2, 'axpby':3, 'pointwiseDot':6, 'dot':2, 'dx':3, 'dy':3,
         'arakawa':34, 'cg':42}

In [8]:
#read in csv file
df_skl = pd.read_csv('benchmark_skl_ampi1.csv', delimiter=' ')
df_tesla = pd.read_csv('benchmark_p100_ampi1.csv', delimiter=' ')

In [27]:
skl = df_skl[['n','Nx','Ny','exblas_i']].iloc[0:16]

In [26]:
tesla = df_tesla[['n','Nx','Ny','exblas_i']].loc[::10]

In [36]:
skl.assign(e=tesla['exblas_i'].values)

    n    Nx    Ny      exblas_i             e
0   2   256   256  4.585373e+18  4.585373e+18
1   2   512   512  4.575913e+18  4.575913e+18
2   2  1024  1024  4.565913e+18  4.565913e+18
3   2  2048  2048  4.562117e+18  4.562117e+18
4   3   256   256  4.441411e+18  4.441411e+18
5   3   512   512  4.544791e+18  4.544791e+18
6   3  1024  1024  4.556361e+18  4.556361e+18
7   3  2048  2048  4.564351e+18  4.564351e+18
8   4   256   256  4.540592e+18  4.540592e+18
9   4   512   512  4.552966e+18  4.552966e+18
10  4  1024  1024  4.563011e+18  4.563011e+18
11  4  2048  2048  4.566589e+18  4.566589e+18
12  5   256   256  4.547576e+18  4.553131e+18
13  5   512   512  4.559305e+18  4.563068e+18
14  5  1024  1024  4.565370e+18  4.566614e+18
15  5  2048  2048  4.567086e+18           NaN

In [33]:
tesla['exblas_i'].values

array([  4.58537280e+18,   4.57591274e+18,   4.56591348e+18,
         4.56211678e+18,   4.44141102e+18,   4.54479062e+18,
         4.55636083e+18,   4.56435073e+18,   4.54059195e+18,
         4.55296568e+18,   4.56301075e+18,   4.56658881e+18,
         4.55313074e+18,   4.56306785e+18,   4.56661373e+18,
                    nan])